USE [master]
GO
/****** Object:  Database [PowerGen]    Script Date: 2018-10-08 11:59:36 AM ******/
CREATE DATABASE [PowerGen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PowerGen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQL\MSSQL\DATA\PowerGen.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PowerGen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQL\MSSQL\DATA\PowerGen_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PowerGen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PowerGen]
GO
USE [PowerGen]
GO
/****** Object:  Table [dbo].[Datacatalog]    Script Date: 2018-10-08 11:59:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datacatalog](
	[Id] [int] NOT NULL,
	[Page] [int] NOT NULL,
	[CreatedTime] [datetime] NULL,
 CONSTRAINT [PK_Datacatalog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Metatype]    Script Date: 2018-10-08 11:59:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metatype](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DataCatalogId] [int] NOT NULL,
	[key] [varchar](50) NOT NULL,
	[value] [text] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Metatype] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Datacatalog] ADD  CONSTRAINT [DF_Datacatalog_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Metatype] ADD  CONSTRAINT [DF_Metatype_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Metatype]  WITH CHECK ADD  CONSTRAINT [FK_Metatype_Metatype] FOREIGN KEY([DataCatalogId])
REFERENCES [dbo].[Datacatalog] ([Id])
GO
ALTER TABLE [dbo].[Metatype] CHECK CONSTRAINT [FK_Metatype_Metatype]
GO
USE [master]
GO
